################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/c#ForLoopTasks/.vs/c#ForLoopTasks
/C# Tasks/.vs/C# Tasks/FileContentIndex
/OOP_in_C#/.vs/OOP_in_C#/FileContentIndex
/C# Tasks - (Methods,List,LINQ,LinkedList)/.vs/C# Tasks - (Methods,List,LINQ,LinkedList)/FileContentIndex/b8fe9094-3c58-4b25-b39a-2000cab8f166.vsidx
