################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/c#ForLoopTasks/.vs/c#ForLoopTasks
/C# Tasks/.vs/C# Tasks/FileContentIndex
